*.class
bin/
out/
.vscode/
.idea/
*.iml
.settings/
.classpath
.project
.factorypath

*.jar
*.jar
!lib/*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

audit_log.csv
*.log
*.properties
*.env
Thumbs.db
.DS_Store

*.ctxt
.mtj.tmp/
hs_err_pid*